<div class="login">
  <div class="login__card">
    <h1 class="login__title">Welcome</h1>
    <form [formGroup]="loginForm" class="login__form">
      <div class="login__input">
        <cs-input
          label="Email"
          formControlName="email"
          [customErrors]="{ required: 'Email is required' }"
          labelDesign="floating"
          inputDesign="material"
        ></cs-input>
      </div>
      <div class="login__input">
        <cs-input
          #inputPassword
          label="Password"
          formControlName="password"
          type="password"
          labelDesign="fixed"
          inputDesign="material-outline"
        >
          <i *ngIf="inputPassword.valid" rightContent class="bx bx-check"></i>
        </cs-input>
      </div>
    </form>
  </div>
</div>
